---
import { Calendar, Github, Home, Inbox, Search, Settings } from 'lucide-react'
---

<header>
  <nav>
    <a href="/about">About</a>
    <a href="/"><Home /></a>
    <a href="/posts">Posts</a>
    <a href="https://github.com/ilacilac" target="_blank"><Github /></a>
  </nav>
</header>

<style>
  header {
  }
  nav {
    display: inline-flex;
    flex-direction: column;
    height: 100vh;
    /* color: #656b88; */
  }
</style>
