---
import BaseHead from '@/components/BaseHead.astro'
import Header from '@/components/Header'
// import Header from '@/components/Header.astro'

let { title, description } = Astro.props
---

<!doctype html>
<html lang="ko">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header client:load />
    <slot />
  </body>
</html>
