---
import BaseHead from '@/layouts/BaseHead.astro'
import { getCollection } from 'astro:content'
import {
  Folder,
  Github,
  HomeIcon,
  Search,
  NotebookPen,
  CircleUserRound,
  FolderOpen,
} from 'lucide-react'
import './styles.scss'
import CategoryList from '@/components/Header/CategoryList'
import SidebarToggle from './SidebarToggle.astro'

let { title, description } = Astro.props
type CategoryNamesType = 'posts'
const CATEGORY_NAMES = ['posts']

// 데이터 미리 패칭
const contentsByCategory = await Promise.all(
  CATEGORY_NAMES.map(async (name: CategoryNamesType) => {
    const data = (await getCollection(name)).sort(
      (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
    )
    return { name, data }
  })
)

// 현재 페이지 URL 가져오기
const currentPath = Astro.url.pathname
let isOpenNavigation = true

const handleOpenNavigation = () => {
  isOpenNavigation = !isOpenNavigation
}
---

<!doctype html>
<html lang="ko">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="sidebar-open">
    <div class="wrapper">
      <header class="header">
        <SidebarToggle contentsByCategory={contentsByCategory} currentPath={currentPath} />
      </header>

      <slot />
    </div>
  </body>
</html>
