.header {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: var(--secondary);
  grid-area: header;

  .header-left {
    width: 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .nav-top {
      display: flex;
      flex-direction: column;
      /* color: #656b88; */

      button,
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        cursor: pointer;
        /* background-color: aliceblue; */
      }
    }

    .nav-bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      cursor: pointer;
    }
  }
  .header-right {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary);
    border-left: 1px solid var(--gray-dark);
    padding: 16px;
    .header-title {
      display: flex;
      align-items: center;
      gap: 4px;
      font-size: 0.875rem;
      color: #919bba;
      &:hover {
        color: #ffffff;
      }
      &.active-title {
        color: #7ac1bb;
        font-weight: 600;
      }
    }
    .header-content-title {
      text-indent: 20px;
      font-size: 0.875rem;
      color: #919bba;
      &.active-title {
        color: #ffffff;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .header {
    width: 100%;
    height: 60px;
    // position: fixed;
    // top: 0;
    // left: 0;
    // display: flex;
    // flex-direction: row;
    // background: var(--secondary);
    // z-index: 1000;

    .header-left {
      width: 100%;
      height: 60px;
      flex-direction: row;

      .nav-top {
        flex-direction: row;
      }
    }
    .header-right {
      display: none;
    }
  }
}
